:root {
    --cor1: #b5dcf2;
    --cor2: #4bc4ec;
    --cor3: #000000;
    --cor4: #f6f6f6;
}

* {
    margin: 0rem;
    padding: 0rem;
}

body {
    background-image: url(../assets/background.png); /* Imagem de fundo */
    background-size: cover;     /* Cobre toda a tela */
    background-position: center center; /* Centraliza a imagem de fundo */
    background-repeat: no-repeat;
    box-sizing: border-box; /* Altura total da tela */
    color: var(--cor1);
    background-color: var(--cor3)
}

.about {
    background-image: url(../assets/background2.png); /* Imagem de fundo */
}

.header {
    padding: 0.5%;
    background-color: var(--cor3);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.25rem; /* Espaçamento entre os itens */
}

.links__menu {
    font-family: "Montserrat", sans-serif;
    color: var(--cor2);
    font-size: 1.25rem;
    text-decoration: none;
}

.links__menu:hover {
    color: var(--cor1);
    text-shadow: 0 0 0.25rem var(--cor1);
    transition: all 0.3s ease;
}

main {
    padding: 0% 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;     /* Empilha os itens verticalmente */ 
    justify-content: center;
    align-items: center;        /* Centraliza horizontalmente */
    height: 100vh;              /* Altura total da tela */
    text-align: center;         /* Centraliza texto dentro dos elementos */
    gap: 0.625rem; /* Espaçamento entre os itens */
}

.perfil {
    max-width: 15.625rem;
    height: auto;
    border-radius: 50%;
    border: var(--cor1) solid 0.125rem;
    border: var(--cor1) solid 0.125rem;
    box-shadow: solid 0 0 0.3125rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1);
    padding: 0.3125rem;
}

.sobremim {
    max-width: 15.625rem;
    padding: 0.3125rem;
    height: auto;
    border-radius: 3%;
    border: var(--cor1) solid 0.125rem;
    box-shadow: solid 0 0 0.3125rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1);
    margin-top: -1.25rem;

}

.titulo {
    font-family: "Iceberg", sans-serif;
    font-size: 6rem;
    text-shadow: var(--cor3) 0.1875rem 0.125rem;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-shadow: var(--cor3) 0.1875rem 0.0625rem 0.0625rem;
    margin-bottom: 0.3125rem;
}

.socials-container {
    padding: 1.25rem;
    gap: 0.625rem;              /* Espaçamento entre os itens */
}

.socials {
    display: inline-flex;
    align-items: center;
    margin: 0.625rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.375rem;
    color: var(--cor3);
    text-decoration: none;
    padding: 0.3125rem 0.625rem;
    background-color: var(--cor1); /* Slightly different shade for distinction */
    border: var(--cor1) solid 0.125rem;
    border-radius: 0.3125rem;
    box-shadow: inset 0 0 0.3125rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor1);
    transition: all 0.5s ease;
}

.socials:hover {
    background-color: var(--cor3);
    color: var(--cor1);
    text-shadow: 0 0 0.25rem var(--cor1);
    border: var(--cor3) solid 0.125rem;
    box-shadow: inset 0 0 0.3125rem 0 var(--cor3), 0 0 0.625rem 0 var(--cor3), 0 0 0.625rem 0 var(--cor1), 0 0 0.625rem 0 var(--cor3);
    transition: all 0.3s ease;
}

.icons {
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: "Montserrat", sans-serif;
    color: var(--cor3);
    background-color: var(--cor1);
    padding: 0.625rem 0rem 0.625rem 0rem;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    bottom: 0;
    width: 100%;
}

.conteudo {
    width: 38.4375rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
}

.texto {
    text-align: justify;
    padding: 0.3125rem;
    font-size: 1.25rem;
    color: var(--cor4);
    text-shadow: var(--cor3) 0.125rem 0.0625rem 0rem;  
}
